extends layout

block content
	header
		h1= title
		p Welcome to my #{title}
		h2 You aren't logged in! Would you like to be?
	.log_in
		h3  Log in
		form
			input(type="text", name='name', id="username" value="username" required)
			br
			input(type="text", name='password', id="password" value="password" required)
			br
			input(type='submit', value="Let's Go")
	.register
		h3 register
		form
			input(type="text", name='new_name', id="new_username" value="username" required)
			br
			input(type="text", name='new_password', id="new_password" value="password" required)
			br
			input(type="text", name='new_password_again', id="new_password_again" value="password again" required)
			br
			input(type='submit', value='Nice To Meet You')



