body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header, div{
	border: 1px solid black;
	text-align: center;
}

div{
	width: 40%;
	height: 20%;
/*	float: left;*/
	margin: 2% 4%;
	display: inline-block;
}

form{
	text-align: left;
}



a {
  color: #00B7FF;
}